<div id="fullscreen_bg" class="fullscreen_bg"/>


<div class="container">

    <div>
        <img src="/img/web_logo5.png" class="img-responsive center-block">
    </div>


    <form class="form-signin">

        <h2 class="form-signin-heading text-muted">Sign In</h2>

        <a href="/facebook" class="btn btn-lg btn-facebook btn-block">facebookでログイン</a>

        <a href="/twitter" class="btn btn-lg btn-twitter btn-block">twitterでログイン</a>

        <a href="/place/" class="btn btn-lg btn-primary btn-block">マップへ</a>
        <hr/>
        <center><h4>OR</h4></center>

        <input type="text" class="form-control" placeholder="Email address" required="" autofocus="">
        <input type="password" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign In
        </button>
    </form>

    <div class="text-center"><a href="">by team UDC-KANAZAWA kanko b</a></div>

</div>
