SECRET = {
  PRODUCTION: {
    FB_APP_ID: 'KEYVALUE',
    FB_APP_SECRET: 'KEYVALUE',

    TW_APP_ID: 'KEYVALUE',
    TW_APP_SECRET: 'KEYVALUE'
  },

  DEVELOP: {
    FB_APP_ID: 'KEYVALUE',
    FB_APP_SECRET: 'KEYVALUE',

    TW_APP_ID: 'KEYVALUE',
    TW_APP_SECRET: 'KEYVALUE'
  }
}
